<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>
        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <h3 th:text="${title}">Menus</h3>
        <hr />



        <ul th:each="menuItem : ${menu.cheeses}">
            <li th:text="${menuItem.name}"></li>

        </ul>

        <hr/>
        <p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>
        <hr/>

        <nav>
            <a href="/menu/add">Add Menu</a>
        </nav>

    </body>
</html>